<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="image-grid" id="image-grid"></div>
    <div id="image-modal" class="image-modal">
        <div class="modal-content">
            <img id="modal-image" src="" alt="">
            <div id="caption"></div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
